@model IEnumerable<HMS.Entity.ServicePayment>

@{
    ViewBag.Title = "Service Payment Details";
}

<h4>Service Payment Details</h4>

<table id="tblServiceDetails" >
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Patient ID")
            </th>
            <th>
                @Html.DisplayName("Patient Name")
            </th>
            <th>
                @Html.DisplayName("Service Name")
            </th>
            <th>
                @Html.DisplayName("Sub Category")
            </th>
            <th>
                @Html.DisplayName("Service Charge")
            </th>
            <th>
                @Html.DisplayName("Service Unit")
            </th>
            <th>
                @Html.DisplayName("Net Amount")
            </th>
            <th>
                @Html.DisplayName("Discount")
            </th>
            <th>
                @Html.DisplayName("Paid Amount")
            </th>
            <th>
                @Html.DisplayName("Due Amount")
            </th>
            <th>
                @Html.DisplayName("Doctor")
            </th>

            <th>@Html.DisplayName("Actions")</th>
        </tr>
        </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Appointment_ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Appointment.PatientDetail.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Service.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ServiceSubCategory.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ServiceCharge)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ServiceUnit)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NetAmount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Discount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PaidAmount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DueAmount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Doctor.EmployeeDetail.FirstName) @Html.DisplayFor(modelItem => item.Doctor.EmployeeDetail.LastName)
                </td>

                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @*@Html.ActionLink("Details", "Details", new { id = item.ID }) |*@
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID }) |
                    @Html.ActionLink("Print", "Index", new { id = item.ID })
                </td>
            </tr>
        }
   </tbody>

</table>

<script>
    $('#tblServiceDetails').dataTable({
        //"bPaginate": false,
        "bLengthChange": false,
        //"bFilter": true,
        //"bInfo": false,
        //"bAutoWidth": false,
        //"info":     false,
        "aoColumnDefs": [
            { 'bSortable': false, 'aTargets': [7] }
        ]
    });
    </script>
