@model IEnumerable<HospitalManagement.ViewModels.Payments.ServicePaymentModel>

@{
    ViewBag.Title = "Service Payment Details";
}

<h4>Service Payment Details</h4>

<table id="tblServiceDetails" >
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Patient ID")
            </th>
            <th>
                @Html.DisplayName("Patient Name")
            </th>
            @*<th>
                @Html.DisplayName("Service Name")
            </th>
            <th>
                @Html.DisplayName("Sub Category")
            </th>*@
            <th>
                @Html.DisplayName("Service Charge")
            </th>
            <th>
                @Html.DisplayName("Service Unit")
            </th>
            <th>
                @Html.DisplayName("Net Amount")
            </th>
            <th>
                @Html.DisplayName("Discount")
            </th>
            <th>
                @Html.DisplayName("Paid Amount")
            </th>
            <th>
                @Html.DisplayName("Due Amount")
            </th>
            <th>
                @Html.DisplayName("Doctor")
            </th>

            <th>@Html.DisplayName("Actions")</th>
        </tr>
        </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AppointmentId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PatientName)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.Service.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ServiceSubCategory.Name)
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.ServiceCharge)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Qty)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NetAmount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Discount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PaidAmount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DueAmount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DoctorName)
                </td>

                <td>
                    @*@Html.ActionLink("Edit", "Edit", new { id = item.AppointmentId }) |*@
                    @Html.ActionLink("Details", "Details", new { id = item.AppointmentId }) |
                    @*@Html.ActionLink("Delete", "Delete", new { id = item.AppointmentId }) |*@
                    @Html.ActionLink("Print Receipt", "Index", new { id = item.AppointmentId })
                </td>
            </tr>
        }
   </tbody>

</table>
<br />
<div>
    <p></p>
</div>
<script>
    $('#tblServiceDetails').dataTable({
        //"bPaginate": false,
        "bLengthChange": false,
        //"bFilter": true,
        //"bInfo": false,
        //"bAutoWidth": false,
        //"info":     false,
        "aoColumnDefs": [
            { 'bSortable': false, 'aTargets': [9] }
        ]
    });
    </script>
