@model IEnumerable<HMS.Entity.LabPayment>

@{
    ViewBag.Title = "Details";
}

<h4>Lab Payment Details</h4>

<table id="tblLabPayDetails">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Patient ID")
            </th>
            <th>
                @Html.DisplayName("Patient Name")
            </th>
            <th>
                @Html.DisplayName("Lab Category")
            </th>
            <th>
                @Html.DisplayName("Lab Test")
            </th>
            <th>
                @Html.DisplayName("Lab Charge")
            </th>
            <th>
                @Html.DisplayName("Qty")
            </th>
            <th>
                @Html.DisplayName("Net Amount")
            </th>
            <th>
                @Html.DisplayName("Discount")
            </th>
            <th>
                @Html.DisplayName("Paid Amount")
            </th>
            <th>
                @Html.DisplayName("Due Amount")
            </th>
            <th>
                @Html.DisplayName("Doctor")
            </th>

            <th>@Html.DisplayName("Actions")</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Appointment_ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Appointment.PatientDetail.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LabCategory.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LabTest.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LabCharge)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NetAmount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Discount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PaidAmount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DueAmount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Doctor.EmployeeDetail.FirstName) @Html.DisplayFor(modelItem => item.Doctor.EmployeeDetail.LastName)
                </td>

                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
            </tr>
        }
    </tbody>

</table>
<br />
<p>
    @Html.ActionLink("Back to Lab List", "Index")
</p>
<script>
    $('#tblLabPayDetails').dataTable({
        //"bPaginate": false,
        "bLengthChange": false,
        //"bFilter": true,
        //"bInfo": false,
        //"bAutoWidth": false,
        //"info":     false,
        "aoColumnDefs": [
            { 'bSortable': false, 'aTargets': [11] }
        ]
    });
</script>