<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Hospital Management</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/custom")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/datatable")
    @Scripts.Render("~/bundles/bootstrap")
    <link href="/Content/responsive.css" rel="stylesheet" media="all and (max-width: 768px)" />
    <script type="text/javascript">
        $(document).ready(function () {
            $("#menuwrapper ul li").mouseover(function (e) { $(this).addClass(" iehover "); });
            $("#menuwrapper ul li").mouseout(function (e) { $(this).removeClass(" iehover "); });
        });
    </script>
</head>
<body>
    <div id="header">
        <div class="header">
            <div class="logo_left"><img src="~/Images/logo.png" alt="Logo" /></div>
            <div class="nav-custom">
                @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                {
                    @Html.AntiForgeryToken()
                    <ul>
                        <li style="border:none;">
                            <a href="@Url.Action("Index","Home")">
                                <img src="~/Images/icons/home.png" /><br />
                                <span>Home</span>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("MyProfile","Account")">
                                <img src="~/Images/icons/my_profile.png" /><br />
                                <span>My Profile</span>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("ChangePassword","Account")">
                                <img src="~/Images/icons/change_pass.png" /><br />
                                <span>Change Password</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="~/Images/icons/approval.png" /><br />
                                <span>Approvels</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="~/Images/icons/alerts.png" /><br />
                                <span>Alerts</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="~/Images/icons/change_cam.png" /><br />
                                <span>Change Campus</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:document.getElementById('logoutForm').submit()">
                                <img src="~/Images/icons/logout.png" /><br />
                                <span>Logout</span>
                            </a>
                        </li>
                    </ul>
                }
            </div>
            @Html.Partial("_LoginPartial")
        </div>
    </div>

    <!------container------>
    <div class="container" style="margin-bottom:50px;">
        <!------left_section------>
        <div class="left_section">
            <div class="menu_list" id="secondpane">
                <!--Code for menu starts here-->

                <div class="left_heading"><span>Left Panel</span></div>

                <ul class="vertical-nav">
                    <li class="menu_head"><a href="@Url.Action("Index", "Appointments")"><span class="icon1"></span>Appointments</a></li>
                    <li class="menu_head">
                        <a href="#"><span class="icon3"></span>Masters</a>
                        <ul class="menu_body">
                            <li><a href="@Url.Action("Index", "Countries")"><span class="icon2"></span>Countries</a></li>
                            <li><a href="@Url.Action("Index", "States")"><span class="icon2"></span>States</a></li>
                            <li><a href="@Url.Action("Index", "Cities")"><span class="icon2"></span>Cities</a></li>
                            <li><a href="@Url.Action("Index", "BranchDetails")"><span class="icon2"></span>Branch</a></li>
                            <li><a href="@Url.Action("Index", "EmployeeTypes")"><span class="icon2"></span>Employee Type</a></li>
                            <li><a href="@Url.Action("Index", "Qualification")"><span class="icon2"></span>Qualification</a></li>
                            <li><a href="@Url.Action("Index", "Specialization")"><span class="icon2"></span>Specialization</a></li>
                            <li><a href="@Url.Action("Index", "EmployeeDetails")"><span class="icon2"></span>Employee Details</a></li>
                            <li><a href="@Url.Action("Index", "ShiftTypes")"><span class="icon2"></span>Shift Type</a></li>
                            <li><a href="@Url.Action("Index", "Services")"><span class="icon2"></span>Service Master</a></li>
                            <li><a href="@Url.Action("Index", "Wards")"><span class="icon2"></span>Wards</a></li>
                            <li><a href="@Url.Action("Index", "WardCategories")"><span class="icon2"></span>Ward Categories</a></li>
                            <li><a href="@Url.Action("Index", "RoomDetails")"><span class="icon2"></span>Room</a></li>
                            <li><a href="@Url.Action("Index", "PaymentSections")"><span class="icon2"></span>Payment Section</a></li>
                            <li><a href="@Url.Action("Index", "PaymentModes")"><span class="icon2"></span>Payment Mode</a></li>
                            <li><a href="@Url.Action("Index", "PatientStatus")"><span class="icon2"></span>Patient Status</a></li>
                            <li><a href="@Url.Action("Index", "PatientTypes")"><span class="icon2"></span>Patient Types</a></li>
                            <li><a href="@Url.Action("Index", "LabCategories")"><span class="icon2"></span>Lab Master</a></li>
                            @*<li><a href="@Url.Action("Index", "LabTests")"><span class="icon2"></span>Lab Test</a></li>*@
                            <li><a href="@Url.Action("Index", "VisitReasons")"><span class="icon2"></span>Visit Reason Master</a></li>
                            <li><a href="@Url.Action("Index", "MedicalEquipment")"><span class="icon2"></span>Medical Equipments</a></li>
                        </ul>
                    </li>
                    <li class="menu_head">
                        <a href="#"><span class="icon7"></span>Patient Master</a>
                        <ul class="menu_body">
                            <li><a href="@Url.Action("Index", "Patient")"><span class="icon2"></span>Patient Details</a></li>
                            <li><a href="@Url.Action("GetTodaysVisitedPatients", "PatientVisit")"><span class="icon2"></span>Todays Visited Patient</a></li>
                            <li><a href="@Url.Action("GetVisitedPatientDetails", "PatientVisit")"><span class="icon2"></span>Visited Patient</a></li>
                            <li><a href="@Url.Action("CreateTodayPatientVisitDetails", "PatientVisit")"><span class="icon2"></span>Today's Patient Registration </a></li>
                        </ul>
                    </li>
                    <li class="menu_head"><a href="#"><span class="icon3"></span>Bills</a></li>
                    <li class="menu_head">
                        <a href="#"><span class="icon5"></span>Transaction</a>
                        <ul class="menu_body">
                            <li><a href="@Url.Action("Service", "Transaction")"><span class="icon2"></span>Add Services</a></li>
                            <li><a href="@Url.Action("Index", "ServicePayments")"><span class="icon2"></span>Services Details</a></li>
                        </ul>
                    </li>
                    <li class="menu_head">
                        <a href="#"><span class="icon5"></span>Transaction Reports</a>
                        <ul class="menu_body">
                            <li><a href="@Url.Action("GetTodayPatientVisitReport", "Reports")"><span class="icon2"></span>Registration Payment</a></li>
                            <li><a href="@Url.Action("Index", "ServicePayments")"><span class="icon2"></span>Services Payment</a></li>
                            <li><a href="@Url.Action("Index", "ServicePayments")"><span class="icon2"></span>Lab Payment</a></li>
                        </ul>
                    </li>
                    <li class="menu_head"><a href="#"><span class="icon6"></span>Medicine Tables</a></li>
                    <li class="menu_head"><a href="#"><span class="icon7"></span>Medicine List</a></li>
                    <li class="menu_head"><a href="@Url.Action("Index", "EmployeeDetails")"><span class="icon8"></span>Employee in Hospital</a></li>
                    <li class="menu_head"><a href="@Url.Action("Index","Doctors")"><span class="icon10"></span>Hospital Consultants</a></li>
                    <li class="menu_head" style="border:none;"><a href="#"><span class="icon11"></span>Medical Reports</a></li>
                </ul>
            </div>
        </div>
        <div class="right_section">
            <div class="right_heading"><span>DashBoard</span></div>
            @RenderBody()
        </div>
    </div>
    <div style="width:100%">
        <hr />
        <footer style="text-align:center;">
            <p>&copy; @DateTime.Now.Year - Hospital Management</p>
        </footer>
    </div>
    @*@Scripts.Render("~/bundles/bootstrap")*@

    @RenderSection("scripts", required: false)
</body>
</html>
<script>
    $(document).ready(function () {
        $("#secondpane li.menu_head").mouseover(function () {
            $('div.menu_body').css({ "display": "none" });
            $(this).next("div.menu_body").show().siblings("div.menu_body").hide();
        });

        //$("#secondpane li.menu_head").hover(function () {
        //    debugger;
        //    $(this).next('div.menu_body').css({ "display": "block" });
        //},
        //function ()
        //{
        //    $(this).next('div.menu_body').hide();}
        //});
    });
</script>