@model IEnumerable<HMS.Entity.Appointment>

@{
    ViewBag.Title = "Visited Patient Details";
}

<h2>VisitedPatient</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Appointment ID")
        </th>        
        <th>
            @Html.DisplayName("Appointment Date")
        </th>
        <th>
            @Html.DisplayName("Patient")
        </th>
        <th>
            @Html.DisplayName("Age")
        </th>
        <th>
            @Html.DisplayName("Patient Type")
        </th>
        <th>
            @Html.DisplayName("Department")
        </th>
        <th>
            @Html.DisplayName("Doctor Name")
        </th>
        <th>
            @Html.DisplayName("Shift")
        </th>            
        <th>
            @Html.DisplayName("Visit Status")
        </th> 
        <th>
            @Html.DisplayNameFor(model => model.IsReferal)
        </th> 
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AppointmentDate)
        </td>      
        <td>
            @Html.DisplayFor(modelItem => item.PatientDetail.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PatientDetail.Age)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PatientType.Details)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Specialization.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Doctor.EmployeeDetail.FirstName) @Html.DisplayFor(modelItem => item.Doctor.EmployeeDetail.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShiftType.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VisitStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsReferal)
        </td>       
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) 
           
        </td>
    </tr>
}

</table>
