@model IEnumerable<HMS.Entity.PatientVisit>

@{
    ViewBag.Title = "Hospital Management | Visited Patient";
}

<h4>Visited Patient Details</h4>

<table id="tblvisitedpatient">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("App ID")
            </th>
            <th>
                @Html.DisplayName("Visited Date")
            </th>
            <th>
                @Html.DisplayName("Patient")
            </th>
            <th>
                @Html.DisplayName("Patient Type")
            </th>
            <th>
                @Html.DisplayName("Department")
            </th>
            <th>
                @Html.DisplayName("Doctor")
            </th>
            <th>
                @Html.DisplayName("Amount")
            </th>

            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Appointment.ID)
                </td>
                <td>
                    @item.VisitedDate.ToString("dd/MM/yyyy")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Appointment.PatientDetail.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Appointment.PatientType.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Appointment.Specialization.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Appointment.Doctor.EmployeeDetail.FirstName) @Html.DisplayFor(modelItem => item.Appointment.Doctor.EmployeeDetail.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PayAmount)
                </td>

                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Get Receipt", "AssignValueinReport", "Reports", new { id = item.ID }, null) |
                    @Html.ActionLink("Prescription", "GetPrescriptionReport", "Reports", new { id = item.ID },null) |
                    @Html.ActionLink("Add Service", "AddService", "Transaction", new { id = item.Appointment.PatientDetail.ID }, htmlAttributes: new { @class = "serviceAddModal" })

                    @*@Html.ActionLink("Slip", "OutPatientSlip", new { id = item.ID }, htmlAttributes: new { @class = "visitSlipDetails" }) |*@
                    @*htmlAttributes: new { @class = "doctorsPrescriptions" }*@
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="modal fade" id="visitSlipModal" tabindex="-1" role="dialog" aria-labelledby="visitSliplable" aria-hidden="true">
    <div class="modal-dialog" style="width:525px;">
        <div class="modal-content" id="visitSlipContent" style="font-size: 14px; border-radius: 0px;">
            <img src="~/Images/closebox.png" data-dismiss="modal" aria-hidden="false" />
            <div class="modal-body" id="visitSlipBody" style="padding-top:0px;padding-bottom:0px;margin-top:0px; min-height:150px;margin-bottom:20px;">

            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="doctorsPrescriptions" tabindex="-1" role="dialog" aria-labelledby="visitSliplable" aria-hidden="true">
    <div class="modal-dialog" style="width:860px;">
        <div class="modal-content" id="prescriptionContent" style="font-size: 14px; border-radius: 0px;">
            <img src="~/Images/closebox.png" data-dismiss="modal" aria-hidden="false" />
            <div class="modal-body" id="prescriptionBody" style="padding-top:0px;padding-bottom:0px;margin-top:0px; min-height:725px;margin-bottom:20px;">

            </div>
        </div>
    </div>
</div>
<script>
    $('#tblvisitedpatient').dataTable({
        //"bPaginate": false,
        "bLengthChange": false,
        //"bFilter": true,
        //"bInfo": false,
        //"bAutoWidth": false,
        //"info":     false,
        "aoColumnDefs": [
            { 'bSortable': false, 'aTargets': [7] }
        ]
    });

    $(document).ready(function () {
        $(function () {
            $('.visitSlipDetails').click(function () {
                var url = $(this).attr('href');
                $('#visitSlipBody').html('');
                $('#visitSlipBody').load(url, function () {
                    $('#visitSlipModal').modal({
                        keyboard: true
                    }, 'show');
                    bindVisitSlipForm(this);
                });
                return false;
            });
        });

        function bindVisitSlipForm(dialog) {
            $('form', dialog).submit(function () {
                $.ajax({
                    url: this.action,
                    type: this.method,
                    data: $(this).serialize(),
                    success: function (result) {
                        var value = $(result).find(".validation-summary-errors ul li").length;
                        if (value == 0) {
                            window.location.reload(true);
                        }
                        else {
                            $('#visitSlipBody').html('');
                            $('#visitSlipBody').html(result);
                            $("form").data("validator", null);
                            $.validator.unobtrusive.parse($("form"));
                            bindVisitSlipForm();
                        }
                    }
                });
                return false;
            });
        }


    });

    $(document).ready(function () {
        $(function () {
            $('.doctorsPrescriptions').click(function () {
                var url = $(this).attr('href');
                $('#prescriptionBody').html('');
                $('#prescriptionBody').load(url, function () {
                    $('#doctorsPrescriptions').modal({
                        keyboard: true
                    }, 'show');
                    bindPrescriptionsForm(this);
                });
                return false;
            });
        });

        function bindPrescriptionsForm(dialog) {
            $('form', dialog).submit(function () {
                $.ajax({
                    url: this.action,
                    type: this.method,
                    data: $(this).serialize(),
                    success: function (result) {
                        var value = $(result).find(".validation-summary-errors ul li").length;
                        if (value == 0) {
                            window.location.reload(true);
                        }
                        else {
                            $('#prescriptionBody').html('');
                            $('#prescriptionBody').html(result);
                            $("form").data("validator", null);
                            $.validator.unobtrusive.parse($("form"));
                            bindPrescriptionsForm();
                        }
                    }
                });
                return false;
            });
        }


    });
</script>

