@model IEnumerable<HMS.Entity.PaymentMode>

@{
    ViewBag.Title = "Hosital Master | Payment mode master";
}

<h4>Payment Mode Master</h4>

<p>
    @Html.ActionLink("Create New", "Create", null, htmlAttributes: new { @class="button-link", @style="padding-top:5px;"})
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Mode)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Mode)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
