@model IEnumerable<HMS.Entity.DischargeSummary>

@{
    ViewBag.Title = "Hospital Management | Discharge Patient Details";
}

<h2>Discharge patient Details</h2>

<table id="dischrgTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Doctor")
            </th>
            <th>
                @Html.DisplayName("Patient")
            </th>
            <th>
                @Html.Display("Admission Date")
            </th>
            <th>
                @Html.DisplayName("Discharge /date")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Daignosis)
            </th>
            <th>
                @Html.DisplayName("Brief Summary")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Investigation)
            </th>
            <th>
                @Html.DisplayName("Operation Notes")
            </th>
            <th>
                @Html.DisplayName("TreatmentGiven")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Advice)
            </th>
            <th>
                @Html.DisplayName("Next Visit")
            </th>
            <th>
                @Html.DisplayName("Other Details")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Doctor.OtherDetails)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PatientDetail.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfAdmission)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfDischarge)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Daignosis)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BriffSummary)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Investigation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OperationNotes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TreatmentGiven)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Advice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ToattendClinicOnAfter)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OtherDetails)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID })
                </td>
            </tr>
        }
    </tbody>
</table>
<script>
    $('#dischrgTable').DataTable({
        //"bPaginate": false,
        "bLengthChange": false,
        //"bFilter": true,
        //"bInfo": false,
        //"bAutoWidth": false,
        //"info":     false,
        "aoColumnDefs": [
            { 'bSortable': false, 'aTargets': [12] }
        ]
    });
</script>