@model IEnumerable<HMS.Entity.Country>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table id="countryTable" style="width:100%">
    <thead>
        <tr>
            <th>
                County Name
            </th>
            <th>
                Country Code
            </th>

            <th> Actions </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CountryCode)
                </td>

                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
            </tr>
        }
    </tbody>
</table>
<script>
    $('#patientDetails').DataTable({
        //"bPaginate": false,
        "bLengthChange": false,
        //"bFilter": true,
        //"bInfo": false,
        //"bAutoWidth": false,
        //"info":     false,
        "aoColumnDefs": [
            { 'bSortable': false, 'aTargets': [2] }
        ]
    });
</script>