@model IEnumerable<HMS.Entity.Service>

@{
    ViewBag.Title = "Hospital Management | Service master";
}

<h4>Service Master</h4>

<p>
    @Html.ActionLink("Create New", "Create", null, htmlAttributes: new { @class = "button-link", @style = "padding-top:5px;" })
</p>
<table id="serviceMasterTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>

                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }, htmlAttributes: new { @class="serviceEdit"}) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID }, htmlAttributes: new { @class = "serviceEdit" }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID }, htmlAttributes: new { @class = "serviceEdit" }) |
                    @Html.ActionLink("Add SubCategory", "Create","ServiceSubCategories", new { id = item.ID }, htmlAttributes: new { @class = "serviceEdit" }) |
                    @Html.ActionLink("View SubCategory", "Index", "ServiceSubCategories", new { id = item.ID }, htmlAttributes: new { @class = "serviceSubCatDetails" })
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="modal fade" id="serviceModal" tabindex="-1" role="dialog" aria-labelledby="servicemodellable" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" id="serviceContent" style="font-size: 14px; border-radius: 0px;">
            <img src="~/Images/closebox.png" data-dismiss="modal" aria-hidden="false" />
            <div class="modal-body" id="serviceBody" style="padding-top:0px;padding-bottom:0px;margin-top:0px; min-height:150px;margin-bottom:20px;">

            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="serviceDetailModal" tabindex="-1" role="dialog" aria-labelledby="serviceDetaillable" aria-hidden="true">
    <div class="modal-dialog" style="width:840px;">
        <div class="modal-content" id="serviceDetailContent" style="font-size: 14px; border-radius: 0px;">
            <img src="~/Images/closebox.png" data-dismiss="modal" aria-hidden="false" />
            <div class="modal-body" id="serviceDetailBody" style="padding-top:0px;padding-bottom:0px;margin-top:0px; min-height:150px;margin-bottom:20px;">

            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="serviceSubCatModal" tabindex="-1" role="dialog" aria-labelledby="SubCatlable" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" id="SubCatContent" style="font-size: 14px; border-radius: 0px;">
            <img src="~/Images/closebox.png" data-dismiss="modal" aria-hidden="false" />
            <div class="modal-body" id="SubCatBody" style="padding-top:0px;padding-bottom:0px;margin-top:0px; min-height:150px;margin-bottom:20px;">

            </div>
        </div>
    </div>
</div>
<script>
    $('#serviceMasterTable').DataTable({
        //"bPaginate": false,
        "bLengthChange": false,
        //"bFilter": true,
        //"bInfo": false,
        //"bAutoWidth": false,
        //"info":     false,
        "aoColumnDefs": [
            { 'bSortable': false, 'aTargets': [2] }
        ]
    });

    $(document).ready(function () {
        $('#branchTable').DataTable();

        $(function () {
            $('.serviceEdit').click(function () {
                var url = $(this).attr('href');
                $('#serviceBody').html('');
                $('#serviceBody').load(url, function () {
                    $('#serviceModal').modal({
                        keyboard: true
                    }, 'show');
                    bindServiceForm(this);
                });
                return false;
            });
        });

        function bindServiceForm(dialog) {
            $('form', dialog).submit(function () {
                $.ajax({
                    url: this.action,
                    type: this.method,
                    data: $(this).serialize(),
                    success: function (result) {
                        var value = $(result).find(".validation-summary-errors ul li").length;
                        if (value == 0) {
                            window.location.reload(true);
                        }
                        else {
                            $('#serviceBody').html('');
                            $('#serviceBody').html(result);
                            $("form").data("validator", null);
                            $.validator.unobtrusive.parse($("form"));
                            bindServiceForm();
                        }
                    }
                });
                return false;
            });
        }

        $(function () {
            $('.serviceSubCatDetails').click(function () {
                var url = $(this).attr('href');
                $('#serviceDetailBody').html('');
                $('#serviceDetailBody').load(url, function () {
                    $('#serviceDetailModal').modal({
                        keyboard: true
                    }, 'show');
                    bindServiceSubCatForm(this);
                });
                return false;
            });
        });

        function bindServiceSubCatForm(dialog) {
            $('form', dialog).submit(function () {
                $.ajax({
                    url: this.action,
                    type: this.method,
                    data: $(this).serialize(),
                    success: function (result) {
                        var value = $(result).find(".validation-summary-errors ul li").length;
                        if (value == 0) {
                            window.location.reload(true);
                        }
                        else {
                            $('#serviceDetailBody').html('');
                            $('#serviceDetailBody').html(result);
                            $("form").data("validator", null);
                            $.validator.unobtrusive.parse($("form"));
                            bindServiceSubCatForm();
                        }
                    }
                });
                return false;
            });
        }
    });
</script> 