@model IEnumerable<HMS.Entity.State>

@{
    ViewBag.Title = "Index";
}

<h4>State Master</h4>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table id="stateTable">
    <thead>
        <tr>
            <th>
                State Name
            </th>
            <th>
                Country Name
            </th>
            <th> Actions </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Country.Name)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
            </tr>
        }
    </tbody>
</table>
<script>
    $('#stateTable').DataTable({            //"bPaginate": false,
        "bLengthChange": false,
        //"bFilter": true,
        //"bInfo": false,
        //"bAutoWidth": false,
        //"info":     false,
        "aoColumnDefs": [
            { 'bSortable': false, 'aTargets': [2] }
        ]
    });
</script>